@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-image:url("https://cdn.glitch.global/3a8a41d1-efcc-4dc1-843e-fe8879969838/b2c8990c-6b9d-4004-8d40-7aa7b66da3a3.image.png?v=1739304497839");
  text-align: center;
  color: navy;
  margin:auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

h2{
  color:rgb( 137,207,240);
    border:white
}

#myCanvas {
  background-image: url("https://media1.tenor.com/m/RjfK8P70HykAAAAC/baluk.gif");
  background-size: 900px 600px;
  border-radius: 400px;
  border: 5px solid white;
}




